## .NET / Visual Studio
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

## NuGet
*.nupkg
packages/
!**/packages/repositories.config
.nuget/

## Rider / JetBrains
.idea/

## OS
.DS_Store
Thumbs.db
desktop.ini
